* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none
}

body {
    font-family: Outfit, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    min-height: 100vh;
    background: #D5E1EF;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px;
    margin: 24px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, .02);
    background: #FFFFFF;
}

img {
    width: 288px;
    height: 288px;
    border-radius: 20px;
}

h1, p {
    text-align: center;
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 28px;
    padding: 24px 16px 16px 19px;
    color: #1F314F;
}

h1:hover {
    color: #3685FF;
}

p {
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 19px;
    letter-spacing: 0.1875px;
    padding: 0 16px 24px 16px;
    color: #7D889E;
}

footer {
    position: absolute;
    bottom: 5px;
    font-size: 14px;
}

footer a {
    color: hsl(228, 45%, 44%);
}